* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
  @media (max-width: $mqMinWidth) {
    padding: 1rem;
  }
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.clip-bevel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 100%;
  height: auto;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 00% 80%, 0% 20%);
}
.clip-bevel2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 100%;
  height: auto;
  clip-path: circle(60% at 50% 50%);
}

.text{
  text-align: justify;
}

@function invert($color, $amount: 100%) {
  $inverse: color.change($color, $hue: color.hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

.nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  a{
    color: invert($navHeaderColor, 40%);
    margin-right: 40px;
    text-decoration: none;
  }

  a:hover{
    color: $linksHoverColor;
  }

  @media (max-width: $mqMinWidth) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
